.editor-toolbar
  border-color: #ddd

.document
  position: relative
  margin: 30px 0
  .btn-remove
    position: absolute
    top: -23px
    right: 5px
    cursor: pointer
    display: block
    border: 1px solid #ddd
    padding: 0 5px
    border-radius: 5px 5px 0 0
    color: red
